.api {
    background: var(--lightblue-gradient);
    border-radius: 40px;
}

.api_wrapper {
    background-image: var(--api);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 12% 7.3%;
}

.api_content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8rem;
}