.button {
    padding: 4.5rem 10.5rem;
    font-size: 5rem;
    font-weight: 500;
    line-height: 1.2;
    border-radius: 900px;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.button:focus, .button.active {
    outline: none;
    box-shadow: 1px 1px 3px var(--black_transparent_30);
}

.button.blue {
    color: var(--white);
    background: var(--blue);
}

.button.blue:hover, .button:focus, .button.active {
    background: var(--blue-deep);
}

.button.blue.secondary {
    color: var(--blue-deep);
    background: var(--blue-transparent-12);
}

.button.blue.secondary:hover {
    background: var(--blue-transparent-16);
}

.button.white {
    color: var(--white);
    background: transparent;
    border: 1px solid var(--white-transparent-60);
}

.button.white:hover {
    border-color: var(--white);
}

@media only screen and (max-width: var(--mobile-breakpoint)) {
    .button {
        padding: 3rem 8rem;
        font-size: 4.5rem;
    }
}