.button {
    padding: 4.5rem 10.5rem;
    font-size: 5rem;
    font-weight: 500;
    line-height: 1.2;
    border-radius: 900px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: .2s;
}

.white_theme {
    --secondary-color: #297EE2;
    --secondary-border: transparent;
    --secondary-border_hover: transparent;
}

.dark_theme {
    --secondary-color: #ffffff;
    --secondary-border: rgba(255, 255, 255, 0.6);
    --secondary-border_hover: #ffffff;
}

.button:focus, .button.active {
    outline: none;
    box-shadow: 1px 1px 3px var(--black_transparent_30);
}

.button.blue {
    color: #ffffff;
    background: var(--blue);
}

.button.blue:hover, .button:focus, .button.active {
    background: var(--blue-deep);
}

.button.blue.secondary {
    color: var(--secondary-color);
    background: var(--blue-transparent-12);
    border: 1px solid var(--secondary-border);
}

.button.blue.secondary:hover {
    background: var(--blue-transparent-16);
    border-color: var(--secondary-border_hover);
}

.button.white {
    color: #ffffff;
    background: transparent;
    border: 1px solid var(--white-transparent-60);
}

.button.white:hover {
    border-color: #ffffff;
}

@media only screen and (max-width: var(--mobile-breakpoint)) {
    .button {
        padding: 3rem 8rem;
        font-size: 4.5rem;
    }
}