.community, .community_stack__item {
    display: flex;
}

.community, .community_stack__item {
    flex-direction: column;
    align-items: center;
}

.community {
    padding: 6rem 0 20rem;
    gap: 10rem;
}

.community .community_title, .community_stack__item {
    text-align: center;
}

.community_title {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.community_stack {
    display: grid;
    width: 83%;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 6rem;
}

.community_stack__item {
    flex: 1;
    gap: 4rem;
}

.stack_wrapper {
    width: 60%
}

.stack_logo {
    position: relative;
    padding-top: 100%;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
}

.stack_logo__image {
    padding: 10%;
    box-shadow: 0 0 8px 0 rgba(182, 186, 191, 0.04), 0 2px 3px 0 rgba(0, 0, 0, 0.02);
}

.stack_logo__image.js {
    padding: 2rem;
    background: linear-gradient(138deg, #83CD29 2.4%, #74BE1A 99.84%);
}

.stack_logo__image.net {
    background: linear-gradient(147deg, #6B3FA0 6.9%, #552D85 90.43%);
}

.stack_logo__image.php {
    background: linear-gradient(144deg, #6181B6 6.55%, #5979AE 94.62%);
}

.stack_logo__image.python {
    padding: 12%;
    background: linear-gradient(142deg, #242429 0.78%, #18181D 97.15%);
}

.stack_logo__image.go {
    background: linear-gradient(145deg, #00ACD7 7%, #00A8D3 91.03%);
}

@media (max-width: 860px) {
    .community_stack {
        gap: 3rem;
    }
}