.arrow_to_btn {
    animation-name: arrow_btn;
    animation-duration: .8s;
}

.feature_button_click {
    animation-name: button_click;
    animation-duration: .2s;
    animation-delay: .6s;
}

.feature_button_click, .arrow_to_btn {
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes arrow_btn {
    0% {
        right: var(--start_r);
        bottom: var(--start_b);
    }
    70% {
        right: var(--finish_r);
        bottom: var(--finish_b);
    }
    100% {
        right: var(--finish_r);
        bottom: var(--finish_b);
    }
}

@keyframes button_click {
    from {
        transform: none;
    }
    to {
        background: var(--feature-create-app_bg-hover);
        transform: scale(1.09);
    }
}
.shift_currency, .next_currency, .last_currency {
    animation-duration: .7s;
}

.shift_currency {
    z-index: 1;
    animation-name: shift_currency;
}

.next_currency {
    animation-name: next_currency;
}

.last_currency {
    z-index: 0;
    animation-name: last_currency;
}

.last_currency svg {
   opacity: 0;
}

@keyframes shift_currency {
    from {
        transform: none;
    }
    to {
        transform: var(--shift);
    }
}

@keyframes next_currency {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes last_currency {
    from {
        transform: translateX(0);
    }
    to {
        transform: var(--transform);
    }
}