.hero {
    padding: 5rem 0;
    width: 100%;
    display: flex;
    gap: 5rem;
    align-items: center;
}

.hero_about {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    text-align: left;
}

.hero_avatars {
    display: flex;
}

.hero_avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    overflow: hidden;
    background: var(--white);
}

.hero_avatar:not(.hero_avatar:first-child) {
    margin-left: -6rem;
}

.hero_avatar_img {
    border-radius: 50%;
    overflow: hidden;
    height: 22rem;
    width: 22rem;
}

.hero_phone {
    display: flex;
    justify-content: center;
}

.hero_phone-wrap {
    padding-top: 125%;
    width: 61%;
    background-image: var(--phone);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}