img {
    width: 100%;
}

.segment {
    width: 100%;
}

.segment.grey {
    background: var(--grey);
}

.segment.white {
    background: var(--white);
}

.segment.last {
    border-radius: 0 0 40px 40px;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

@media (max-width: 1220px) {
    .container {
        width: 950px;
    }
}

@media all and (max-width: 980px) {
    .container {
        width: 90%;
    }
}
