.quick-start {
    display: flex;
    gap: 10rem
}

.quick-start, .quick-start_step__desc, .quick-start_step__content {
    flex-direction: column;
}

.quick-start_step {
    display: flex;
    align-items: center;
    gap: 30rem;
}

.quick-start_step__desc {
    display: flex;
    gap: 5rem;
    align-items: flex-start;
}

.quick-start_step__number {
    border-radius: 50%;
    padding: 9px 22px;
    font-size: 10.5rem;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -1.26px;
    color: var(--white);
    background: var(--quick_start_step);
    box-shadow: 0 0 8px 0 rgba(182, 186, 191, 0.04), 0 2px 3px 0 rgba(0, 0, 0, 0.02);
}

.quick-start_step__example {
    position: relative;
    width: 100%;
    padding-top: 83%;
}

.quick-start_step__content {
    border-radius: 40px;
    gap: 1rem;
    padding: 17%;
}

.quick-start_step__content .message.link {
    background: #8198D1;
}
