.slider, .slide {
    padding: 24.5rem 0;
    display: flex;
    align-items: center;
}

.slider {
    gap: 20.75rem;
}

.slider_dots, .slide_dots {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.slider_dots {
    align-items: center;
    height: 87.5rem;
}

.slide_number, .slide_count {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #ffffff;
}

.slide_in_view {
    width: 100%;
    overflow: hidden;
}

.slider_list {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.slide {
    flex: 1;
    gap: 11%;
}

.slide_about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8rem;
}

.slide_visual {
    position: relative;
    width: 100%;
    padding-top: 100%;
    border-radius: 40px;
    overflow: hidden;
}

.slide_visual__wrapper {
    padding: 10.5rem;
    flex-direction: column;
    gap: 5px;
}

.slide_visual__wrapper.with_codes {
    gap: 3.5rem
}

.slide_dots {
    flex: 1;
}

.slide_dot {
    width: 1rem;
    flex: 1;
    background: var(--white-transparent-24);
    transition: .4s;
}

.slide_dot.active {
    background: #41A4DF;
}

.pointer {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 11.2rem;
    height: 11.2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pointer .arrow {
    width: 100%;
    height: 100%;
}

@media (max-width: 1220px) {
    .slider {
        gap: 6rem
    }

    .slide {
        gap: 4rem;
    }
}

@media (max-width: 980px) {
    .slider {
        flex-direction: column;
        gap: 8rem;
        padding: 8rem 0;
    }

    .slide {
        padding: 0 0.25rem 8rem;
    }

    .slide_visual__wrapper {
        padding: 7rem;
    }

    .slide_visual__wrapper.with_codes {
        gap: 2.5rem;
    }

    .slider_dots {
        flex-direction: initial;
        height: 5rem;
        width: 60%;
    }

    .slide_dots {
        flex-direction: initial;
    }

    .slide_dot {
        height: 1rem;
        width: initial;
    }
}

@media only screen and (max-width: 700px) {
    .slide {
        flex-direction: column;
        align-items: center;
        gap: 8rem;
    }

    .slide_visual_wrap {
        width: 50%;
    }

    .slide_about {
        align-items: center;
    }

    .slide_about .title, .slide_about .text {
        text-align: center;
    }

    .slider_dots {
        width: 100%;
    }
}

@media only screen and (max-width: 640px){
    .slide_visual_wrap {
        width: 60%;
    }

    .slide_button {
        display: flex;
        width: 100%;
    }

    .slide_button .button {
        width: 100%;
    }
}

@media only screen and (max-width: 550px){
    .slide_visual_wrap {
        width: 70%;
    }

}

@media only screen and (max-width: 480px){
    .slide_visual_wrap {
        width: 100%;
    }
}