.slider, .slide {
    padding: 24.5rem 0;
    display: flex;
    align-items: center;
}

.slider {
    gap: 20.75rem;
}

.slider_dots, .slide_dots {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.slider_dots {
    align-items: center;
    height: 87.5rem;
}

.slide_number, .slide_count {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #ffffff;
}

.slider_list {
    overflow: hidden;
    flex: 1;
}

.slide {
    gap: 11%;
}

.slide_visual {
    position: relative;
    width: 100%;
    padding-top: 100%;
    border-radius: 40px;
    overflow: hidden;
}

.slide_visual__wrapper {
    padding: 10.5rem;
    flex-direction: column;
    gap: 5px;
}

.slide_visual__wrapper.codes {
    gap: 3.5rem
}

.slide_dots {
    flex: 1;
}

.slide_dot {
    width: 1rem;
    flex: 1;
    background: var(--white-transparent-24);
}

.slide_dot.active {
    background: #41A4DF;
}

.pointer {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 11.2rem;
    height: 11.2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background: var(--lightblue-gradient);
}

.pointer .arrow {
    width: 100%;
    height: 100%;
}
