.title {
    font-weight: 629;
    line-height: 1.1;
    color: var(--dark);
    margin-top: 0;
    margin-bottom: 8rem;
}

.title .backlight {
    color: var(--blue);
}

.title.white {
    color: var(--white);
}

h1.title {
    font-size: 20rem;
    letter-spacing: -2.4px;
}

h2.title {
    font-size: 14rem;
    letter-spacing: -1.68px;
}

h3.title {
    font-size: 10.5rem;
    letter-spacing: -1.26px;
    margin-bottom: 5rem;
}